Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
FixNamespaceComments: true
IndentCaseLabels: true
NamespaceIndentation: All
BreakConstructorInitializersBeforeComma: true
ColumnLimit: 100
AlwaysBreakTemplateDeclarations: true
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: None

