#Visual Studio
Debug/
Release/
*.sln
*.vcxproj
*.filters
*.users
*.user
*.dll
.vs 

# Visual Studio Code
.vscode/


# Builds
bin/
Makefile
build/

# Manually Added
CMakeFiles/
cmake_install.cmake 
CMakeCache.txt
mc-one-week
libglad.a
development_notes.txt
deps/SFML-2.5.1
Audio/