# IDE
Debug/
Release/
*.sln
*.vcxproj
*.filters
*.users
*.user
*.dll
.vs 

.vscode/

.idea/

# Builds
bin/
Makefile
build/

# Manually Added
CMakeFiles/
cmake_install.cmake 
CMakeCache.txt
mc-one-week
libglad.a
development_notes.txt